doctype html
html
  head
    title Мегафон
    include partials/head

  body
    .head
      .container
        .head__header.header
          .header__logo
            img(src="./images/logo.png")
          .header__phone
            | 8 (800) 550 41-14 
        .inner
          .head__center-text.head-text
            .head-text__green-txt
              | Включайся!
            .head-text__main-txt
              span МегаФон 
              | — компания твоих возможностей
            .head-text__buttons.head-buttons
              .button.button_violet.head-buttons__button
                img(src="./images/arrow.svg")
                .button__text
                  | Узнать больше
              .head-buttons__button.head-buttons__button_play
                img(src="./images/play-button.svg")
                .button__text 
                  | Смотреть видео
    .career
      .inner
        .career__title
          | Карьера в 
          span «МегаФон»
        .career__list.career-list
          .career-list__item
            | У тебя есть, высшее, неоконченное высшее или средне-специальное образование?
          .career-list__item
            | Ты общителен и любишь помогать людям? 
          .career-list__item
            | Ты нацелен на личностный и профессиональный рост?
          .career-list__item
            | Значит, мы ищем именно тебя!
        
        .career__description
          |45% руководителей компании — «выпускники» Контактного центра. 
        
        .career__button.button.button_green
          | Начни карьеру в Мегафон

        


          