doctype html
html
  head
    title Мегафон
    include partials/head

  body
    .head
      .container
        .head__header.header
          .header__logo
            img(src="./images/logo.png")
          .header__phone
            | 8 (800) 550 41-14 
        .inner
          .head__center-text.head-text
            .head-text__green-txt
              | Включайся!
            .head-text__main-txt
              span МегаФон 
              | — компания твоих возможностей
            .head-text__buttons.head-buttons
              .button.button_violet.head-buttons__button
                img(src="./images/arrow.svg")
                .button__text
                  | Узнать больше
              .head-buttons__button.head-buttons__button_play
                img(src="./images/play-button.svg")
                .button__text 
                  | Смотреть видео
    .career
      .inner
        .career__title
          | Карьера в 
          span «МегаФон»
        .career__list.career-list
          .career-list__item
            | У тебя есть, высшее, неоконченное высшее или средне-специальное образование?
          .career-list__item
            | Ты общителен и любишь помогать людям? 
          .career-list__item
            | Ты нацелен на личностный и профессиональный рост?
          .career-list__item
            | Значит, мы ищем именно тебя!
        
        .career__description
          |45% руководителей компании — «выпускники» Контактного центра. 
        
        .career__button.button.button_green
          | Начни карьеру в Мегафон

    .company
      .inner
        .company__title
          | В нашей компании тебя ждут:

        .company__items
          .company__item.company-item
            .company-item__icon
              img(src="./images/startup.svg")
            .company-item__description
              | Новые перспективные возможности
          .company__item.company-item
            .company-item__icon
              img(src="./images/wallet.svg")
            .company-item__description
              | Ежемесячная 
              br
              | премия и оклад
          .company__item.company-item
            .company-item__icon
              img(src="./images/health.svg")
            .company-item__description
              | Медицинское 
              br
              |страхование в России 
              br
              |и зарубежом
          .company__item.company-item
            .company-item__icon
              img(src="./images/bicycle.svg")
            .company-item__description
              | Льготы на спорт 
              br
              |и фитнес
          .company__item.company-item
            .company-item__icon
              img(src="./images/clock.svg")
            .company-item__description
              | Удобный график
          .company__item.company-item
            .company-item__icon
              img(src="./images/employee.svg")
            .company-item__description
              | Коллеги, которые
              br
              | всегда поймут
          .company__item.company-item
            .company-item__icon
              img(src="./images/presentation.svg")
            .company-item__description
              | Оплачиваемые
              br
              | тренинги и курсы
          .company__item.company-item
            .company-item__icon
              img(src="./images/cellphone.svg")
            .company-item__description
              | Компенсация затрат
              br
              | на мобильную связь


    .starts
      .inner
        .starts__title
          span Мегафон. 
          | Начинается с тебя
        .starts__items
          .starts__item
            img(src="./images/tyan.png")
          .starts__item
          .starts__item

        .starts__button-wrapper
          .button.button_violet.starts__button
            | Начни карьеру в Мегафон

    .pick-yours
      .inner
        .pick-yours__header
          .pick-yours__title
            | Карьера в 
            span твоих 
            | руках!
            | Выбирай своё.
          .pick-yours__right
            .pick-yours__select.city-select
              select.city-select__select
                option Москва
            .pick-yours__posible
              | Все возможные вакансии
        
        .pick-yours__cards
          .pick-yours__card.pick-card
            .pick-card__title
              |Специалист по телефонным продажам клиентам корпоративного бизнеса
            .pick-card__footer
              .button.button_violet.pick-card__button.hidden
                | Выбрать
              .pick-card__icon
                img(src="./images/active.svg")
          .pick-yours__card.pick-card
            .pick-card__title
              |Специалист по продажам в федеральном телемаркетинге
            .pick-card__footer
              .button.button_violet.pick-card__button
                | Выбрать
              .pick-card__icon.hidden
                img(src="./images/active.svg")
          .pick-yours__card.pick-card
            .pick-card__title
              |Специалист по обслуживанию корпоративных клиентов
            .pick-card__footer
              .button.button_violet.pick-card__button
                | Выбрать
              .pick-card__icon.hidden
                img(src="./images/active.svg")
          .pick-yours__card.pick-card
            .pick-card__title
              |Специалист по федеральному контролю качества
            .pick-card__footer
              .button.button_violet.pick-card__button
                | Выбрать
              .pick-card__icon.hidden
                img(src="./images/active.svg")
          .pick-yours__card.pick-card
            .pick-card__title
              |Специалист по работе с претензиями
            .pick-card__footer
              .button.button_violet.pick-card__button
                | Выбрать
              .pick-card__icon.hidden
                img(src="./images/active.svg")
          .pick-yours__card.pick-card
            .pick-card__title
              |Контактный центр
            .pick-card__footer
              .button.button_violet.pick-card__button
                | Выбрать
              .pick-card__icon.hidden
                img(src="./images/active.svg")

        .pick-yours__text.pick-text
          .pick-text__title
            | Специалист по телефонным продажам клиентам корпоративного бизнеса
          .pick-text__txt
            | Чем предстоит заниматься:
          .pick-text__list.pick-text-list
            .pick-text-list__item
              | Совершать звонки действующим клиентам Компании
            .pick-text-list__item
              | Помогать нашим клиентам подбирать для себя оптимальные решения для общения, пользования интернетом и другими сервисами Компании
            .pick-text-list__item
              | Презентовать специальные предложения, услуги и персональные решения с учётом потребностей клиента
          
          .pick-text__description
            |95% сотрудников получают премию за результаты в продажах уже в первый месяц работы. Всего за 1 неделю обучения ты получишь всю необходимую информацию, чтобы начать успешно работать в федеральном телемаркетинге!

          .pick-text__hr

          .pick-text__gray-text
            | Реализуй свой потенциал и добейся реально крутых результатов в нашей команде. Присоединяйся! 
          
          .pick-text__button.button.button_green
            | Начни карьеру в Мегафон
      
    .slider-wrapper
      .container
        .slider-wrapper__slider.slider
          .slider__slide
            img(src="./images/slide1.jpg")
          .slider__slide
            img(src="./images/slide2.jpg")
          .slider__slide
            img(src="./images/slide3.jpg")
          .slider__slide
            img(src="./images/slide2.jpg")
        
        .slider__counter
          span.slider__curr.js-curr 1
          | /
          span.slider__amount.js-amount

    .footer
      .container
        .footer__title
          | Есть вопросы?
        .footer__bottom
          .footer__left
            .footer__call
              | Звони 8 (800) 550 41 14
            .footer__write
              | или пиши на ssc_rabota@megafon.ru с темой письма «Работа в КЦ». 
            .footer__answer
              | Мы с радостью ответим!
          .footer__right
            |© 2018 ПАО «МегаФон»
        

