// fonts here
@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/GTWalsheimv2Manual-Regular.eot');
  src: url('../fonts/GTWalsheimv2Manual-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GTWalsheimv2Manual-Regular.woff2') format('woff2'),
      url('../fonts/GTWalsheimv2Manual-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/GTWalsheimv2Manual-Black.eot');
  src: url('../fonts/GTWalsheimv2Manual-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GTWalsheimv2Manual-Black.woff2') format('woff2'),
      url('../fonts/GTWalsheimv2Manual-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/GTWalsheimv2Manual-Bold.eot');
  src: url('../fonts/GTWalsheimv2Manual-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GTWalsheimv2Manual-Bold.woff2') format('woff2'),
      url('../fonts/GTWalsheimv2Manual-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

