.head {
  min-height: 100vh;
  background: url('../images/background.jpg') no-repeat center / cover;

  .inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__phone {
    font-size: 16px;
    color: #FFFFFF;
  }
}

.head-text {
  max-width: 530px;

  &__green-txt {
    font-size: 32px;
    color: #28B93C;
  }

  &__main-txt {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 10px;

    span {
      font-weight: bold;
    }
  }
}

.head-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      margin-right: 10px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    } 

    &_play {
      color: #fff;
      cursor: pointer;
    }
  }
}


