.head {
  min-height: 100vh;
  background: url('../images/background.jpg') no-repeat center / cover;

  .inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__phone {
    font-size: 16px;
    color: #FFFFFF;
  }
}

.head-text {
  max-width: 530px;

  &__green-txt {
    font-size: 32px;
    color: #28B93C;
  }

  &__main-txt {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 10px;

    span {
      font-weight: bold;
    }
  }
}

.head-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      margin-right: 10px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    } 

    &_play {
      color: #fff;
      cursor: pointer;
      user-select: none;
    }
  }
}

.career {
  padding-top: 100px;

  &__title {
    font-size: 32px;
    color: #000000;

    span {
      color: #28B93C;
    }
  }

  &__description {
    font-family: Arial;
    font-size: 18px;
    color: #888888;
    margin-top: 35px;
  }

  &__button {
    display: inline-block;
    margin-top: 32px;
  }
}

.career-list {
  margin-top: 24px;

  &__item {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 25px;
    position: relative;
    margin-top: 16px;

    &::before {
      background: #5E1788;
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border-radius: 50%;
    }
  }
}

.company {
  padding-top: 100px;

  &__title {
    font-size: 32px;
    color: #000000;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
  }
}

.company-item {
  width: 25%;
  margin-top: 40px;
  min-height: 167px;

  &__description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #888888;
    line-height: 26px;
    margin-top: 24px;
  }
}

