.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  display: none;
  z-index: 9999;

  &.video-container-visible {
    display: flex;
  }

  .video-container-close {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 10000;
    color: #FFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }

  #youtube-video-player {
    width: 100%;
    height: 100%;
  }
  
  iframe {
    width: 100%;
    height: 100%; 
  }
}

.head {
  min-height: 600px;
  background: url('../images/background.jpg') no-repeat center / cover;

  .inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 600px;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__phone {
    font-size: 16px;
    color: #FFFFFF;
  }
}

.head-text {
  max-width: 530px;

  &__green-txt {
    font-size: 32px;
    color: #28B93C;
  }

  &__main-txt {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 10px;

    span {
      font-weight: bold;
    }
  }
}

.head-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      margin-right: 10px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    } 

    &_play {
      color: #fff;
      cursor: pointer;
      user-select: none;
    }
  }
}

.career {
  padding-top: 100px;

  &__title {
    font-size: 32px;
    color: #000000;

    span {
      color: #28B93C;
    }
  }

  &__description {
    font-family: Arial;
    font-size: 18px;
    color: #888888;
    margin-top: 35px;
  }

  &__button {
    display: inline-block;
    margin-top: 32px;
  }
}

.career-list,
.pick-text-list {
  margin-top: 24px;

  &__item {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 25px;
    position: relative;
    margin-top: 16px;

    &::before {
      background: #5E1788;
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%;
    }
  }
}

.company {
  padding-top: 100px;

  &__title {
    font-size: 32px;
    color: #000000;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
  }
}

.company-item {
  width: 25%;
  margin-top: 40px;
  min-height: 167px;

  &__description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #888888;
    line-height: 26px;
    margin-top: 24px;
  }
}

.starts {
  padding-top: 100px;

  &__title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;

    span {
      color: #28B93C;
    }
  }

  &__items {
    margin-top: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__item {
    width: 216px;
    height: 216px;
    background: #73207F;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:not(:first-child) {
      background: #28B93C;
      margin-left: 30px;
    }
  }

  &__button-wrapper {
    text-align: center;
  }

  &__button {
    margin-top: 56px;
    display: inline-block;
  }
}

.pick-yours {
  padding-top: 100px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__title {
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    flex: 1;
    
    span {
      color: #28B93C;
    }
  }

  &__posible {
    font-size: 14px;
    color: #6B696C;
    border-bottom: 1px solid #6B696C;
    cursor: pointer;
    user-select: none;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
  }
}

.city-select {
  width: 50%;
  position: relative;

  &__select {
    width: 100%;
    border-radius: 0;
    border: 1px solid #CDCDCD;
    background: rgba(0,0,0,0);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 15px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: url('../images/dropdown.svg') no-repeat center / contain;
    right: 15px;
    top: 52%;
    transform: translateY(-50%);
  }
  
}

.pick-card {
  width: calc(33.3% - 14px);
  background: #28B93C;
  padding: 25px;
  border-radius: 3px;
  min-height: 165px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &:not(:nth-child(3n + 1)) {
    margin-left: 20px;
  }

  &:nth-child(n + 4) {
    margin-top: 20px;
  }

  &__title {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    margin-top: 10px;
  }

  &__button {
    font-size: 14px;
    padding: 12px 25px;
  }
}

.pick-text {
  padding-top: 80px;

  &__description {
    font-family: Arial;
    font-size: 18px;
    color: #888888;
    margin-top: 35px;
    line-height: 26px;
  }

  &__title {
    font-size: 32px;
    color: #000000;
  }

  &__txt {
    margin-top: 32px;
    font-size: 18px;
  }

  &__hr {
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
    margin-top: 40px;
  }

  &__gray-text {
    margin-top: 16px;
    font-size: 16px;
    color: #9B9B9B;
  }

  &__button {
    display: inline-block;
    margin-top: 40px;
  }
}

.slider-wrapper {
  padding-top: 80px;
  padding-bottom: 60px;

  &__slider {
    padding: 0 25px;
  }

  .slick-prev::before {
    content: '';
    background: url('../images/arrow-left.svg') no-repeat center / contain;
    width: 10px;
    height: 20px;
    display: inline-block;
  }

  .slick-next::before {
    content: '';
    background: url('../images/arrow-right.svg') no-repeat center / contain;
    width: 10px;
    height: 20px;
    display: inline-block;
  }
}

.slider {
  &__counter {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #888888;
    margin-left: 25px;
    margin-top: 25px;
  }

  &__curr {
    margin-right: 5px;
  }

  &__amount {
    margin-left: 5px;
  }
}

.footer {
  background: #731982;
  padding: 35px 0;

  &__title {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 32px;
  }

  &__call a {
    color: #FFF;
    outline: none;
  }

  &__bottom {
    margin-top: 35px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;

    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
  }
}